@model string

@{
    ViewData["Title"] = "AddMarkUserPage";
}

<form method="post">
    <div class="form-group">
        <label>Mark</label>
        <input type="text" class="form-control" placeholder="Capacity">
    </div> <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>