@using Feeder4.Dtos;
@model TimetableDto

@{
    ViewData["Title"] = "AddTimetablePage";
}

<form method="post">
    <div class="form-group">
        <label>FeederId</label>
        <input asp-for="FeederId" class="form-control" placeholder="Size">
    </div> <br>
    <div class="form-group">
        <label>Name</label>
        <input asp-for="Name" class="form-control" placeholder="Model">
    </div> <br>
    <div class="form-group">
        <label>DateTimes</label>
        <input asp-for="DateTimes" class="form-control" placeholder="Capacity">
    </div> <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>