@using Feeder4.Entities;
@model Feeder

@{
    ViewData["Title"] = "ShowInfoPage";
}

<h1>Name: @Model.Name</h1>
<h2>TimetableId: @Model.TimetableId</h2>
<h2>State: @Model.State</h2>
<h2>Mark: @Model.Mark</h2>